default/test-git.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1769496906909,
    "description" : "This is a test",
    "identifier" : "test-git",
    "lastModifiedTimestamp" : 1769496906909,
    "name" : "test-git",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cb02f276-4dd9-3556-9750-0b9feea7aab6",
        "name" : "MergeContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "11df4f5c-a5d5-36ae-9e33-ab4ea630ad61",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9768a732-045f-37b4-ad4d-a61f5c5baf9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 6
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "12d918ac-062d-368d-a1a7-45ede6e8aece",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2488d104-3036-3984-9f51-467b66c32772",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7801ad0c-ff10-3d0d-9d39-b86fe58efab0",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7801ad0c-ff10-3d0d-9d39-b86fe58efab0",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a31c318e-f06b-3079-99f2-94684eb0b2ce",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a0579169-11e0-3263-a3eb-fa486d8db43f",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "87315c2b-6972-3000-0000-000039446460",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b9da33ef-757e-3105-8b38-af9107b09dcf",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7801ad0c-ff10-3d0d-9d39-b86fe58efab0",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9768a732-045f-37b4-ad4d-a61f5c5baf9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f03d0802-3d49-3fe3-99e8-4b0ac89271b9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "12d918ac-062d-368d-a1a7-45ede6e8aece",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9768a732-045f-37b4-ad4d-a61f5c5baf9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f5947a6d-872d-39b8-8bee-20d983f94b67",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "87315c2b-6972-3000-0000-000039446460",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9768a732-045f-37b4-ad4d-a61f5c5baf9d",
      "position" : {
        "x" : 1648.0,
        "y" : -408.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Test Git",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "12d918ac-062d-368d-a1a7-45ede6e8aece",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 832.0,
        "y" : -312.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "JsonPaths" : "$..first_name",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPaths" : {
          "displayName" : "JsonPaths",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "JsonPaths",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7801ad0c-ff10-3d0d-9d39-b86fe58efab0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 856.0,
        "y" : -624.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$[*]"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "87315c2b-6972-3000-0000-000039446460",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1600.0,
        "y" : -704.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "JsonPaths" : "$..last_name",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPaths" : {
          "displayName" : "JsonPaths",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "JsonPaths",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a0579169-11e0-3263-a3eb-fa486d8db43f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 432.0,
        "y" : -904.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "application/json",
        "generate-ff-custom-text" : "[\n  {\n    \"id\": 1,\n    \"first_name\": \"Ody\",\n    \"last_name\": \"Rockey\",\n    \"email\": \"orockey0@businessinsider.com\",\n    \"personal\": {\n      \"best_friend\": \"Ody Rockey\",\n      \"favorite_color\": \"Aquamarine\",\n      \"favorite_word\": \"faucibus\",\n      \"physical_features\": {\n        \"eye_color\": \"Green\",\n        \"hair_color\": \"Purple\",\n        \"gender\": \"Male\",\n        \"shirt_size\": \"2XL\"\n      },\n      \"siblings\": [],\n      \"deepest\": {\n        \"darkest\": {\n          \"secret\": {\n            \"that\": {\n              \"they\": {\n                \"have\": {\n                  \"never told anyone\": \"habitasse platea dictumst maecenas ut massa quis augue luctus tincidunt nulla mollis\"\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"id\": 2,\n    \"first_name\": \"Harland\",\n    \"last_name\": \"Mawby\",\n    \"email\": \"hmawby1@shareasale.com\",\n    \"personal\": {\n      \"best_friend\": \"Harland Mawby\",\n      \"favorite_color\": \"Maroon\",\n      \"favorite_word\": \"pede\",\n      \"physical_features\": {\n        \"eye_color\": \"Goldenrod\",\n        \"hair_color\": \"Fuscia\",\n        \"gender\": \"Male\",\n        \"shirt_size\": \"XL\"\n      },\n      \"siblings\": [],\n      \"deepest\": {\n        \"darkest\": {\n          \"secret\": {\n            \"that\": {\n              \"they\": {\n                \"have\": { \"never told anyone\": \"integer ac neque duis\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n]",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "merged", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cb02f276-4dd9-3556-9750-0b9feea7aab6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1520.0,
        "y" : -104.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "FlowFile Insertion Strategy" : "Last in Bin",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "1000",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "5",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Do Not Use Delimiters",
        "Merge Format" : "Binary Concatenation",
        "Correlation Attribute Name" : "fragment.index",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "FlowFile Insertion Strategy" : {
          "displayName" : "FlowFile Insertion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FlowFile Insertion Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Bin Termination Check" : {
          "displayName" : "Bin Termination Check",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bin Termination Check",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "test-git",
    "timestamp" : 1769666131851
  }
}